body{ 
    background-color: black;
}

#heading {
    color: green;
    text-align: center;
    margin-top: 30px;
}


h3 {
    text-align: center;
    color: green;
    font-size: x-large;
    
}

p {
    color: green;
    size: 20px;
    text-align: center;
    font-size: larger;
}

.btn{   
 text-align: center;
    margin-top: 20px;
}

#button { 
    font-size: larger;
    background-color: green;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}
